[user]
	name = kbt48
	email = hiro.k.0805+github@gmail.com
[core]
	editor = vim
[color]
	status = auto
	diff = auto
	ranch = auto
	interactive = auto
	grep = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
[push]
	default = simple
